@charset "UTF-8";
/* CSS Document */

html {
	font-family: 'Josefin Sans', sans-serif;
	font-size:20px;
}

.fluid,
.fluid img {
  min-width: 100%;
  width: 100%;
}

.wrapper {
	width: 400px;
	margin: 0 auto;
}

.row {
	overflow: auto;
	align-content:center;
}

html {
	text-align:center;
}


/*  BLACK BACKGROUNDs  */
#hero {
	background-color:black;
	color:white;
	padding:20px;
}

#hero a {
	color: white;
    padding: 15px;
    background-color: #EB008B;
    margin: 10px;
    display: inline-block;
}

#hero a:hover {
	color:#EB008B;
	padding:15px;
	background-color:white;
	margin:10px;
	display: inline-block;
}

#black-bg {
	background-color:black;
	color:white;
	padding:10px;
}

p {
	margin-top: 0px;
}

nav, li {
	text-align:center;
	padding:20px;
}

ul {
	padding:0;
}

li {
	display:inline-block;
	list-style-type:none;
	vertical-align:middle;
}

nav img {
	align-content:center;
}

a {
	text-decoration: none;
	color:black;
}

header nav a:hover, footer nav a:hover {
	color:#EB008B;
}


/*  IMAGERY  */

.team-photo {
	width:260px;
	height:260px;
	align-content:center;
}

.team-photo:first-child {
	background:url(../img/1.jpg) no-repeat;
}

.team-photo:nth-child(2) {
	background:url(../img/2.jpg) no-repeat;
}

.team-photo:nth-child(3) {
	background:url(../img/3.jpg) no-repeat;
}

.team-photo:last-child {
	background:url(../img/4.jpg) no-repeat;
}


.facebook {
	background:url(../img/facebook.png) no-repeat;
}

.twitter {
	background:url(../img/twitter.png) no-repeat;
}

.facebook, .twitter {
	display:inline-block;
	width:22px;
	height:22px;
	margin: 5px;
}

.facebook a, .twitter a {
	color:none;
	background-color:none;
	height:22px;
	width:22px;
	background-position: 0 0;
	background:no-repeat;
}

.facebook:hover, .twitter:hover {
	background-position:0 -22px;
}



/*  TYPOGRAPHY  */

h1, h2, h3, a {
	text-transform:uppercase;
}

#h1-txt {
	font-weight:bold;
	font-size:5rem;
	color:#EB008B;
}

h1, h3 {
	margin-bottom:0;
}

h2 {
	font-weight:bold;
	font-size:2.5rem;
}


@media screen and (max-width: 480px) {

h1 {
	font-weight:300;
	font-size:3rem;
}

h2 {
	font-weight:bold;
	font-size:2.5rem;
}

h3 {
	font-weight:300;
	font-size:1.5rem;
}

}